#jd-mosaic-gallery {
  margin: 0;
  padding: 0;
  width: 375px;
  list-style: none;
}
#jd-mosaic-gallery li {
  display: none;
  /* Mask the item for loading, JS will show it at start */

  float: left;
  width: 125px;
  height: 125px;
  margin: 0;
  padding: 0;
  color: white;
  background-color: gray;
}
#jd-mosaic-gallery p {
  padding: 10px;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
}
